TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_ALLOWED_USER_ID=
GH_SECRETS_PAT=
MONITOR_URLS_JSON=[{"name":"Nombre pagina","url":"https://ejemplo.com","expected_terms":["ejemplo"]}]
MONITOR_STATE_JSON={}
DRY_RUN=1
ACTION_TO_RUN=normal
TELEGRAM_UPDATES_JSON=
